/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
   
    
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    top_phone, .wrapper, .logo, .top_header h1, .top_header h2 {
        text-align: center;
    }
    .seo{
        width: 100%
    }
    .logo{
        margin-bottom: 15px;
    }
    .title {
        color: #fff;
        margin-top: 50px;
        text-align: center
    }
    .contact_me{
        display: none
    }
    .menu{
        display: inline;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
   .top_header{
       margin-top: 30px;
   }
.menu-icon{
     display: inline-block;
     font-size: 50px;
     width: 95%
 }

 .menu-icon a{
     color:#fff;
     text-align: right;
     display: inline;
 }
 .menu{
     display: none

 }
.contact_me{
    display: none
}
.seo{
    width: 100%
}
.bot{
    display: none
}
.owl-nav div {
    margin-top: 106px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
 
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
@media (min-height:780px) and (min-width:1400px) {
    .tabs_header{
        position: absolute;
        bottom:80px;
    }
    .tabs_header > div{
        width: 100%;
        max-width: 660px;
    }
    .top_header{
        margin-top: 150px;
    }
    
}